/* білий #FFFFFF */
/* заголовки #212121 */
/* текст #757575 */
/* блакитний #2196F3 */
/* чорний #000000 */
/* колір сторінки #F5F5F5 */
/* колір фону хедера #FFFFFF */
/* колір фону герой та футер #2F303A */
/* колір фону секції команда #F5F4FA */
/* вторинний колір футер rgba(255, 255, 255, 0.6) */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --secondary-color: #FFFFFF;
    --back-color: #F5F5F5;
    --back-hero: #2F303A;
    --back-team: #F5F4FA;
    --text-logo: #000000;
    --secondary-text-foot: rgba(255, 255, 255, 0.6)
}
/* стилі для index.html */
body {
    
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}
/* header */

ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
} 

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0 15px;
}

.logo {
    color: var(--text-logo);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
}
.accent {
    color: var(--accent-color);
}

 .header {
    background-color: var(--secondary-color);
    /* background-color: aquamarine */
}
/* site nav */
.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}
.auth-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

 /* hero */
.hero {
    background-color: var(--back-hero);
    color: var(--secondary-color);
    text-align: center;
}
.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 200px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;   
}
.btn {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    letter-spacing: 0.06em;
    min-width: 200px;
    
    border: transparent;
    border-radius: 4px;
    padding: 10px 24px;
    display: inline-block;
}
.hero .btn:hover,
.hero .btn:focus {
    background-color: var(--secondary-color);
    color: var(--accent-color);
}
/* main */
/* .section {
    margin-top: 0;
    margin-bottom: 0;
 } */

.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.lead {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.team {
    padding: 94px 0;
    background-color: var(--back-team);
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}
.name {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color);
}
.txt {
    background-color: var(--secondary-color);
    letter-spacing: 0.03em;
}
.text-team {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* footer */

.footer {
    padding: 60px 0;
    background-color: var(--back-hero);
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-color);
}

.footer .logo-link {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--secondary-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.footer-list {
    margin-top: 28px;
}
.add {
    font-style: normal;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-list .link {
    margin-top: 0;
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-color);
    text-decoration: none;
} 

.footer-list .item-link {
    margin-top: 12px;
    color: var(--secondary-text-foot);
    text-decoration: none;
}

.footer-list .link:hover,
.footer-list .link:focus {
    color: var(--accent-color);
}
.footer-list .item-link:hover,
.footer-list .item-link:focus {
    color: var(--accent-color);
}

/* Портфоліо */
.button {
    background-color: var(--back-team);
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
    font-family: inherit;
    text-align: center;
    min-width: 67px;

    border-radius: 4px;
    padding: 6px 22px;
    display: inline-block;
    border: transparent;
}
.button-nav .button:hover,
.button-nav .button:focus {
    color: var(--secondary-color);
    background-color: var(--accent-color);
}
h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--title-text-color);
    letter-spacing: 0.06em;
}

.subtitle {
    margin-top: 20px;
    margin-bottom: 0;
}

.desk {
    margin-top: 4px;
    margin-bottom: 0;
    letter-spacing: 0.03em;
}
.list {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.88;
}
